`@if (!suggestPasswordChange) {
  <div class="card">
  <div class="card-header">Upcoming Tasks</div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Call Fran @ 10am</li>
      <li class="list-group-item">
        Prepare important customer report
      </li>
      <li class="list-group-item">1:1 meeting with Josh</li>
      <li class="list-group-item">Draft strategy for Q3</li>
    </ul>
  </div>
</div>`
} @else {
  <div class="card">
  <div class="card-header">Upcoming Tasks</div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Call Fran @ 10am</li>
      <li class="list-group-item">
        Prepare important customer report
      </li>
      <li class="list-group-item">1:1 meeting with Josh</li>
      <li class="list-group-item">Draft strategy for Q3</li>
    </ul>
  </div>
</div>
}`

<div class="card">
  <div class="card-header">Upcoming Tasks</div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Call Fran @ 10am</li>
      <li class="list-group-item">
        Prepare important customer report
      </li>
      <li class="list-group-item">1:1 meeting with Josh</li>
      <li class="list-group-item">Draft strategy for Q3</li>
    </ul>
  </div>
</div>