<div>
  <div class="alert alert-danger mt-3" *ngIf="state.loginFailed">
    The email or password you provided is incorrect. Please check your entry and
    try again.
  </div>
  <div class="py-5 text-center">
    <h2>Sign In</h2>
  </div>
  <div>
    <form (ngSubmit)="handleSubmit()">
      <div class="mb-3">
        <label htmlFor="email">Email</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            required
            [(ngModel)]="state.email"
          />
        </div>
      </div>

      <div class="mb-3">
        <label htmlFor="password">Password</label>
        <div class="input-group">
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            required
            [(ngModel)]="state.password"
          />
        </div>
      </div>

      <button class="btn btn-primary" type="submit">
        Sign In
      </button>
    </form>
  </div>
</div>
